*, *:: before *::after{
    box-sizing: border-box;
    font-family: "Robotto", sans-serif;
}


body{
    text-align: center;
    justify-content: center;
    background-size: cover;
    color: black;
    background-color: green;
    padding-top: 50px;
    font-size: 18px;

}

.header{
    padding-right: 500px;
}
.hero{
    align-items: center;
    color: cornsilk;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 100px;
    padding-left: 300px;
}

ul{
    font-weight: bold;
    color: aliceblue;

}

.form{
    display: flex;
    float: right;
    padding-right: 300px;
}
h2{
    font-size: 18px;
}
.female-names{
    float: left;
    padding-left: 300px;
}
.male-names{
    float: left;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
}


