*, *:: before *::after{
    box-sizing: border-box;
    font-family: "Robotto", sans-serif;
}


body{
    text-align: center;
    justify-content: center;
    background-size: cover;
    color: black;
    background-color: green;

}
h1{
    align-items: center;
    display: flex;
}

ul{
    font-weight: bold;
    color: aliceblue;

}

p{
    width: 700px;
    color: aliceblue;
}

.form{
    display: flex;
    float: right;
}
.card-footer{
    color: black;
}

